.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.main > .sec {
  position: sticky;
  top: 0;
  width: 80%;
  padding: 10px 20px;
  display: flex;
  z-index: 120;
  background-color: white;
  gap: 20px;
}
.main .box {
  background-color: #16171a;
  position: relative;
  top: 50px;
  width: 80%;
}

.main .box > .head {
  position: sticky;
  top: 40px;
  background-color: #eebc1d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 900;
  padding: 10px 20px;
}
.main .box > .body > .list > span:first-child,
.main .box > .head > span:first-child {
  text-align: start;
}
.main .box > .body > .list > span {
  color: white;
}
.main .box > .body > .list > span,
.main .box > .head > span {
  width: 100%;
  text-align: end;
  /* border: 1px solid black; */
}

.main .box > .body {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 20px;
}
.main .box > .body > .list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px 20px;
  border-bottom: 1px solid white;
  cursor: pointer;
  /* border: 1px solid black; */
}

.main .box > .body > .list > span:first-child {
  display: flex;
  gap: 10px;
  /* justify-content: space-between; */
}

.main .box > .body > .list > span:first-child > img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.main .box > .body > .list > span:first-child > span {
  /* border: 1px solid red; */
}

.main .box > .body > .list > span:first-child > span > p,
.main .box > .body > .list > span:first-child > span > h3 {
  line-height: 5px;
}
